[Unit]
Description=HAProxy load balancer for web server backends
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull coopermaa/haproxy-confd:latest
# port 80 for http communications, port 1936 for statistics
ExecStart=/usr/bin/docker run --name %n -p ${COREOS_PUBLIC_IPV4}:80:80 \
  -p ${COREOS_PRIVATE_IPV4}:1936:1936 -e "ETCD=http://${COREOS_PRIVATE_IPV4}:4001" coopermaa/haproxy-confd:latest
ExecStop=/usr/bin/docker stop %n