[Unit]
Description=A Nginx HTTP Server and reverse proxy
Requires=docker.service  
After=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill nginx-%i
ExecStartPre=-/usr/bin/docker rm nginx-%i
ExecStartPre=/usr/bin/docker pull nginx:latest
ExecStartPre=/usr/bin/etcdctl set /services/web-backend/nginx-%i 'nginx-%i ${COREOS_PRIVATE_IPV4}:8080' --ttl 60
ExecStart=/usr/bin/docker run --name nginx-%i -p 8080:80 nginx:latest
ExecStop=/usr/bin/docker stop nginx-%i
ExecStop=/usr/bin/etcdctl rm /services/web-backend/nginx-%i

[X-Fleet]
# Don't schedule on the same machine as other Nginx instances
Conflicts=nginx@*.service